# Pandas Jupyter Experiment

For this exercise, you will be choosing a dataset that is already available in CSV, using either the links suggested in the module or an external source. Note that the completeness and organization of the CSV will impact your success, so you might want to investigate it using our initial methods before you commit to it and your object of analysis.
I have provided the headings for each section: you can modify them to reflect your final workflow. Here's what you need to accomplish and document:
Complete the five sequential stages of importing, analyzing, and visualizing your CSV data using the Pandas library. The headers are provided, but you will need to plan out and structure what happens in the code using a combination of our class exercise and the textbook for guidance.

Create a well-structured, readable documentation for every cell of your Python code. Use Markdown (as demonstrated in this example) and preview the results on GitHub to confirm it works as intended.

As a bonus exercise, output and save a meaningful, formatted visualization, following the examples in the textbook.

## Stage One: Import Libraries / DataÂ¶
Movies_metada was the .csv that I focused on in this project. It opened up the film industry components to a data set between years and had elements of interest in categories and data results in multiple areas. Moving forward, there may be an advantage to exploring more well-known libraries. Still, this initial find was a great starting point due to the data inclusion and range of selections of popular and known subjects and titles.

In [7]:

file_name = 'movies_metadata.csv'
import pandas as pd

df = pd.read_csv(file_name, delimiter=",")

C:\Users\dlawb\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Stage Two: Display a Summary and Sub-sections of the Data

Streamlining the choice from archive.csv to movies_metadata.csv enabled a well-defined, organized option, with fewer errors due to manageable scaled data set, enabling subject isolation of interest and viable sets of categories to explore. The data set utilized a plethora of categories ranging from original titles to release dates, genres, original language, IMDb id, including budgetary, revenue, runtime, status, taglines,  displays, which allowed for thought toward Stage 3's goals of cleaning and eliminating data sets to enable a more focused summary of items of interest. 


movies_metadata_df = pd.read_csv('movies_metadata.csv',delimiter=",")
movies_metadata_df
movies_metadata.csv

In [8]:
print(df.describe(include='all'))
print(df.sample(10))
print(df['title'].value_counts()[:10])

        adult                              belongs_to_collection budget  \
count   45466                                               4494  45466
unique      5                                               1698   1226
top     False  {'id': 415931, 'name': 'The Bowery Boys', 'pos...      0
freq    45454                                                 29  36573
mean      NaN                                                NaN    NaN
std       NaN                                                NaN    NaN
min       NaN                                                NaN    NaN
25%       NaN                                                NaN    NaN
50%       NaN                                                NaN    NaN
75%       NaN                                                NaN    NaN
max       NaN                                                NaN    NaN

                               genres                     homepage      id  \
count                           45466                         7782   45466
unique                           4069                         7673   45436
top     [{'id': 18, 'name': 'Drama'}]  http://www.georgecarlin.com  141971
freq                             5000                           12       3
mean                              NaN                          NaN     NaN
std                               NaN                          NaN     NaN
min                               NaN                          NaN     NaN
25%                               NaN                          NaN     NaN
50%                               NaN                          NaN     NaN
75%                               NaN                          NaN     NaN
max                               NaN                          NaN     NaN

       imdb_id original_language       original_title            overview  \
count    45449             45455                45466               44512
unique   45417                92                43373               44307
top          0                en  Alice in Wonderland  No overview found.
freq         3             32269                    8                 133
mean       NaN               NaN                  NaN                 NaN
std        NaN               NaN                  NaN                 NaN
min        NaN               NaN                  NaN                 NaN
25%        NaN               NaN                  NaN                 NaN
50%        NaN               NaN                  NaN                 NaN
75%        NaN               NaN                  NaN                 NaN
max        NaN               NaN                  NaN                 NaN

        ... release_date       revenue       runtime  \
count   ...        45379  4.546000e+04  45203.000000
unique  ...        17336           NaN           NaN
top     ...   2008-01-01           NaN           NaN
freq    ...          136           NaN           NaN
mean    ...          NaN  1.120935e+07     94.128199
std     ...          NaN  6.433225e+07     38.407810
min     ...          NaN  0.000000e+00      0.000000
25%     ...          NaN  0.000000e+00     85.000000
50%     ...          NaN  0.000000e+00     95.000000
75%     ...          NaN  0.000000e+00    107.000000
max     ...          NaN  2.787965e+09   1256.000000

                                spoken_languages    status  \
count                                      45460     45379
unique                                      1931         6
top     [{'iso_639_1': 'en', 'name': 'English'}]  Released
freq                                       22395     45014
mean                                         NaN       NaN
std                                          NaN       NaN
min                                          NaN       NaN
25%                                          NaN       NaN
50%                                          NaN       NaN
75%                                          NaN       NaN
max                                          NaN       NaN

                       tagline       title  video  vote_average    vote_count
count                    20412       45460  45460  45460.000000  45460.000000
unique                   20283       42277      2           NaN           NaN
top     Based on a true story.  Cinderella  False           NaN           NaN
freq                         7          11  45367           NaN           NaN
mean                       NaN         NaN    NaN      5.618207    109.897338
std                        NaN         NaN    NaN      1.924216    491.310374
min                        NaN         NaN    NaN      0.000000      0.000000
25%                        NaN         NaN    NaN      5.000000      3.000000
50%                        NaN         NaN    NaN      6.000000     10.000000
75%                        NaN         NaN    NaN      6.800000     34.000000
max                        NaN         NaN    NaN     10.000000  14075.000000

[11 rows x 24 columns]
       adult belongs_to_collection   budget  \
14853  False                   NaN        0
9984   False                   NaN        0
35224  False                   NaN        0
18136  False                   NaN        0
3974   False                   NaN        0
24207  False                   NaN  3000000
5841   False                   NaN    70000
26687  False                   NaN        0
10617  False                   NaN        0
30639  False                   NaN        0

                                                  genres  \
14853  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
9984   [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
35224                [{'id': 99, 'name': 'Documentary'}]
18136  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
3974                      [{'id': 35, 'name': 'Comedy'}]
24207  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
5841   [{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...
26687  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
10617  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
30639  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...

                            homepage      id    imdb_id original_language  \
14853                            NaN   42295  tt0037795                en
9984                             NaN   20628  tt0067763                en
35224  http://viewfromabluemoon.com/  368239  tt5199588                en
18136                            NaN   11403  tt1241329                en
3974                             NaN   24826  tt0092897                en
24207                            NaN  270668  tt2818178                da
5841                             NaN   26946  tt0050147                en
26687                            NaN   41118  tt0026972                en
10617                            NaN   16151  tt0382806                en
30639                            NaN  201099  tt0110577                cn

                    original_title  \
14853     The House on 92nd Street
9984                     Skin Game
35224        View From A Blue Moon
18136                The River Why
3974                  Disorderlies
24207           NÃ¥r dyrene drÃ¸mmer
5841   Attack of the Crab Monsters
26687                      Scrooge
10617               Look Both Ways
30639                 Mou mian bei

                                                overview  ... release_date  \
14853  The US Government tries to track down embedded...  ...   1945-09-10
9984   Quincy Drew (Garner) and Jason O'Rourke (Gosse...  ...   1971-09-30
35224  See the sport of surfing as itâs never been ca...  ...   2015-11-11
18136  A young man abandons his family for a solitary...  ...   2010-04-09
3974   As not-quite-orderlies who're downright Disord...  ...   1987-07-14
24207  The young woman, Marie, is an outsider in the ...  ...   2014-06-12
5841   A group of scientists travel to a remote islan...  ...   1957-02-10
26687  Scrooge, the ultimate Victorian miser, hasn't ...  ...   1935-11-30
10617  During one unusually hot weekend, four friends...  ...   2005-03-03
30639  Sammo Hung plays a cop on the trail of drug de...  ...   1995-02-17

          revenue runtime                                   spoken_languages  \
14853         0.0    88.0           [{'iso_639_1': 'en', 'name': 'English'}]
9984          0.0   102.0           [{'iso_639_1': 'en', 'name': 'English'}]
35224         0.0    58.0           [{'iso_639_1': 'en', 'name': 'English'}]
18136         0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3974   10348437.0    86.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
24207         0.0    84.0             [{'iso_639_1': 'da', 'name': 'Dansk'}]
5841          0.0    62.0           [{'iso_639_1': 'en', 'name': 'English'}]
26687         0.0    78.0           [{'iso_639_1': 'en', 'name': 'English'}]
10617         0.0   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
30639         0.0    94.0         [{'iso_639_1': 'cn', 'name': 'å¹¿å·è¯ / å»£å·è©±'}]

         status                                            tagline  \
14853  Released  The F.B.I.'s own tense, terrific story behind ...
9984   Released         Would you buy a used slave from this man ?
35224  Released                                                NaN
18136  Released            One man's struggle to catch his dreams.
3974   Released                                                NaN
24207  Released                                                NaN
5841   Released  From the depths of the sea... a tidal wave of ...
26687  Released  What happened when Scrooge saw Marley's face o...
10617  Released                                                NaN
30639  Released                                                NaN

                             title  video vote_average vote_count
14853     The House on 92nd Street  False          5.2       11.0
9984                     Skin Game  False          6.5       10.0
35224        View From A Blue Moon  False          7.6        7.0
18136                The River Why  False          5.7       20.0
3974                  Disorderlies  False          4.4       12.0
24207           When Animals Dream  False          6.1       44.0
5841   Attack of the Crab Monsters  False          4.9       16.0
26687                      Scrooge  False          4.9        7.0
10617               Look Both Ways  False          5.3       11.0
30639            Don't Give a Damn  False          6.0        2.0

[10 rows x 24 columns]
Cinderella              11
Alice in Wonderland      9
Hamlet                   9
Les MisÃ©rables           8
Beauty and the Beast     8
The Three Musketeers     7
Blackout                 7
A Christmas Carol        7
Treasure Island          7
First Love               6
Name: title, dtype: int64

## Stage Three: Clean Your Data
Within this stage, there was the experimentation of areas to depict and clean toward bringing in topics to focus on moving forward. The initial section (#1) was geared toward eliminating columns that were not of interest initially.  During this process, there was a change and readjustments, but in the end, there were a precise amount of columns that were removed.

In [9]:
# The first section deletes the unwanted columns
del df['genres']
del df['homepage']
del df['id']
del df['belongs_to_collection']
del df['spoken_languages']
del df['overview']
del df['original_language']
del df['adult']
del df['poster_path']

Moving forward, the code to relinquish duplication and gaps was utilized to ensure that in between the kept categories, the "noise" of distractions was eliminated to help smooth over the leftover areas and content.

In [10]:
# The second section drops duplicates and replaces empty text

df = df.drop_duplicates('original_title')
df.fillna('N/A')

,budget,imdb_id,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,30000000,tt0114709,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,N/A,Toy Story,False,7.7,5415.0
1,65000000,tt0113497,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,0,tt0113228,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,16000000,tt0114885,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,0,tt0113041,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,0,tt0112613,Caged Heat 3000,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-01-01,0.0,85.0,Released,N/A,Caged Heat 3000,False,3.5,1.0
45461,0,tt6209470,Ø±Ú¯ Ø®ÙØ§Ø¨,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",N/A,0.0,90.0,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,0,tt2028550,Siglo ng Pagluluwal,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,Released,N/A,Century of Birthing,False,9.0,3.0
45464,0,tt0008536,Satana likuyushchiy,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,Released,N/A,Satan Triumphant,False,0.0,0.0
45465,0,tt6980792,Queerama,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,Released,N/A,Queerama,False,0.0,0.0