# Pandas Jupyter Experiment

For this exercise, you will be choosing a dataset that is already available in CSV, using either the links suggested in the module or an external source. Note that the completeness and organization of the CSV will impact your success, so you might want to investigate it using our initial methods before you commit to it and your object of analysis.
I have provided the headings for each section: you can modify them to reflect your final workflow. Here's what you need to accomplish and document:
Complete the five sequential stages of importing, analyzing, and visualizing your CSV data using the Pandas library. The headers are provided, but you will need to plan out and structure what happens in the code using a combination of our class exercise and the textbook for guidance.

Create a well-structured, readable documentation for every cell of your Python code. Use Markdown (as demonstrated in this example) and preview the results on GitHub to confirm it works as intended.

As a bonus exercise, output and save a meaningful, formatted visualization, following the examples in the textbook.

## Stage One: Import Libraries / Data¶
Movies_metada was the .csv that I focused on in this project. It opened up the film industry components to a data set between years and had elements of interest in categories and data results in multiple areas. Moving forward, there may be an advantage to exploring more well-known libraries. Still, this initial find was a great starting point due to the data inclusion and range of selections of popular and known subjects and titles.

In [2]:

file_name = 'movies_metadata.csv'
import pandas as pd

df = pd.read_csv(file_name, delimiter=",")

C:\Users\dlawb\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Stage Two: Display a Summary and Sub-sections of the Data

Streamlining the choice from archive.csv to movies_metadata.csv enabled a well-defined, organized option, with fewer errors due to manageable scaled data set, enabling subject isolation of interest and viable sets of categories to explore. The data set utilized a plethora of categories ranging from original titles to release dates, genres, original language, IMDb id, including budgetary, revenue, runtime, status, taglines,  displays, which allowed for thought toward Stage 3's goals of cleaning and eliminating data sets to enable a more focused summary of items of interest. 


movies_metadata_df = pd.read_csv('movies_metadata.csv',delimiter=",")
movies_metadata_df
movies_metadata.csv

In [3]:
print(df.describe(include='all'))
print(df.sample(10))
print(df['title'].value_counts()[:10])

        adult                              belongs_to_collection budget  \
count   45466                                               4494  45466
unique      5                                               1698   1226
top     False  {'id': 415931, 'name': 'The Bowery Boys', 'pos...      0
freq    45454                                                 29  36573
mean      NaN                                                NaN    NaN
std       NaN                                                NaN    NaN
min       NaN                                                NaN    NaN
25%       NaN                                                NaN    NaN
50%       NaN                                                NaN    NaN
75%       NaN                                                NaN    NaN
max       NaN                                                NaN    NaN

                               genres                     homepage      id  \
count                           45466                         7782   45466
unique                           4069                         7673   45436
top     [{'id': 18, 'name': 'Drama'}]  http://www.georgecarlin.com  141971
freq                             5000                           12       3
mean                              NaN                          NaN     NaN
std                               NaN                          NaN     NaN
min                               NaN                          NaN     NaN
25%                               NaN                          NaN     NaN
50%                               NaN                          NaN     NaN
75%                               NaN                          NaN     NaN
max                               NaN                          NaN     NaN

       imdb_id original_language       original_title            overview  \
count    45449             45455                45466               44512
unique   45417                92                43373               44307
top          0                en  Alice in Wonderland  No overview found.
freq         3             32269                    8                 133
mean       NaN               NaN                  NaN                 NaN
std        NaN               NaN                  NaN                 NaN
min        NaN               NaN                  NaN                 NaN
25%        NaN               NaN                  NaN                 NaN
50%        NaN               NaN                  NaN                 NaN
75%        NaN               NaN                  NaN                 NaN
max        NaN               NaN                  NaN                 NaN

        ... release_date       revenue       runtime  \
count   ...        45379  4.546000e+04  45203.000000
unique  ...        17336           NaN           NaN
top     ...   2008-01-01           NaN           NaN
freq    ...          136           NaN           NaN
mean    ...          NaN  1.120935e+07     94.128199
std     ...          NaN  6.433225e+07     38.407810
min     ...          NaN  0.000000e+00      0.000000
25%     ...          NaN  0.000000e+00     85.000000
50%     ...          NaN  0.000000e+00     95.000000
75%     ...          NaN  0.000000e+00    107.000000
max     ...          NaN  2.787965e+09   1256.000000

                                spoken_languages    status  \
count                                      45460     45379
unique                                      1931         6
top     [{'iso_639_1': 'en', 'name': 'English'}]  Released
freq                                       22395     45014
mean                                         NaN       NaN
std                                          NaN       NaN
min                                          NaN       NaN
25%                                          NaN       NaN
50%                                          NaN       NaN
75%                                          NaN       NaN
max                                          NaN       NaN

                       tagline       title  video  vote_average    vote_count
count                    20412       45460  45460  45460.000000  45460.000000
unique                   20283       42277      2           NaN           NaN
top     Based on a true story.  Cinderella  False           NaN           NaN
freq                         7          11  45367           NaN           NaN
mean                       NaN         NaN    NaN      5.618207    109.897338
std                        NaN         NaN    NaN      1.924216    491.310374
min                        NaN         NaN    NaN      0.000000      0.000000
25%                        NaN         NaN    NaN      5.000000      3.000000
50%                        NaN         NaN    NaN      6.000000     10.000000
75%                        NaN         NaN    NaN      6.800000     34.000000
max                        NaN         NaN    NaN     10.000000  14075.000000

[11 rows x 24 columns]
       adult                              belongs_to_collection     budget  \
35477  False                                                NaN          0
34006  False                                                NaN          0
29930  False                                                NaN          0
14661  False                                                NaN          0
33977  False                                                NaN          0
18255  False  {'id': 31562, 'name': 'The Bourne Collection',...  130000000
43958  False                                                NaN          0
23189  False                                                NaN          0
27641  False                                                NaN          0
14450  False                                                NaN          0

                                                  genres  \
35477  [{'id': 10749, 'name': 'Romance'}, {'id': 28, ...
34006  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
29930           [{'id': 878, 'name': 'Science Fiction'}]
14661  [{'id': 99, 'name': 'Documentary'}, {'id': 28,...
33977  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
18255  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
43958                                                 []
23189                      [{'id': 18, 'name': 'Drama'}]
27641                      [{'id': 18, 'name': 'Drama'}]
14450  [{'id': 878, 'name': 'Science Fiction'}, {'id'...

                              homepage      id    imdb_id original_language  \
35477                              NaN  335205  tt3473390                en
34006                              NaN   58207  tt0090455                en
29930                              NaN  259830  tt2798456                en
14661                              NaN    5707  tt0250730                en
33977                              NaN  314400  tt2922590                it
18255  http://www.thebournelegacy.com/   49040  tt1194173                en
43958                              NaN  206591  tt0181317                en
23189                              NaN  127495  tt2131523                en
27641                              NaN  156277  tt1462411                en
14450                              NaN   34003  tt1543920                en

              original_title  \
35477       Sorry I Love You
34006      If Tomorrow Comes
29930              Scintilla
14661           Shooting War
33977  Sangue del mio sangue
18255      The Bourne Legacy
43958               Bodywork
23189              Graceland
27641                Big Sur
14450        Turtles Forever

                                                overview  ... release_date  \
35477  Based on the hit Korean television series “I’m...  ...   2013-11-01
34006  This mini-series focuses on two people, Tracy ...  ...   1986-03-16
29930  From a torturous cell in Africa, Abel Powell i...  ...   2014-02-28
14661  A remarkable film that takes a special look at...  ...   2000-12-07
33977  Northern Italy, 17th century. In a monastery, ...  ...   2015-09-09
18255  New CIA operative, Aaron Cross experiences lif...  ...   2012-08-08
43958  Virgil Guppy buys a sleek-looking used Jaguar,...  ...   2001-09-04
23189  When a kidnapping goes wrong, a desperate fath...  ...   2012-04-20
27641  Big Sur is a film adaptation of the Jack Kerou...  ...   2013-11-01
14450  Turtles Forever is a made-for-tv animated movi...  ...   2009-11-21

           revenue runtime                                   spoken_languages  \
35477          0.0   107.0                                                 []
34006          0.0   313.0           [{'iso_639_1': 'en', 'name': 'English'}]
29930          0.0    94.0  [{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...
14661          0.0    88.0           [{'iso_639_1': 'en', 'name': 'English'}]
33977          0.0   106.0  [{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...
18255  276572938.0   120.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
43958          0.0    92.0           [{'iso_639_1': 'en', 'name': 'English'}]
23189          0.0    84.0                  [{'iso_639_1': 'tl', 'name': ''}]
27641      33621.0   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
14450          0.0    78.0           [{'iso_639_1': 'en', 'name': 'English'}]

                status                                    tagline  \
35477         Released                                        NaN
34006         Released             The excitement is in the chase
29930         Released                                        NaN
14661         Released                                        NaN
33977  Post Production                                        NaN
18255         Released                   There Was Never Just One
43958         Released                                        NaN
23189         Released                      A life for every lie.
27641         Released           Some souls never stop searching.
14450         Released  Sometimes four ninjas just aren't enough!

                   title  video vote_average vote_count
35477   Sorry I Love You  False          6.0        2.0
34006  If Tomorrow Comes  False          6.5        6.0
29930          Scintilla  False          4.7       21.0
14661       Shooting War  False          5.3        2.0
33977  Blood of My Blood  False          5.8       13.0
18255  The Bourne Legacy  False          6.0     2683.0
43958           Bodywork  False          6.0        1.0
23189          Graceland  False          5.9       16.0
27641            Big Sur  False          4.8        6.0
14450    Turtles Forever  False          5.8       13.0

[10 rows x 24 columns]
Cinderella              11
Alice in Wonderland      9
Hamlet                   9
Les Misérables           8
Beauty and the Beast     8
The Three Musketeers     7
Blackout                 7
A Christmas Carol        7
Treasure Island          7
First Love               6
Name: title, dtype: int64